
.user_header div{
    display: inline;
    font-size: 24px;
    color: #e6e6e6;
    padding-left: 15rem;
    text-decoration: none;
}

.user_header label:hover{
    cursor:pointer;
    text-shadow: 0 5px 15px #e6e6e6;
}

.user_active_header{
    text-shadow: 0 5px 15px #e6e6e6;
}
.text_glow{
    text-shadow: 0 5px 15px #e6e6e6;
}