#logo{
    text-decoration: none;   
    margin-left: 1rem;
}
#logo label:hover{
    cursor: pointer;
}

.title{
    color: #14279b;
    line-height: 27px;
    font-size: 28px;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.motto{
    color: #3d56b2;
    letter-spacing: 0.03em;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
}

.profilePic{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    float: right;
    margin-top: -1.5rem;
    margin-right: 1rem;
}
.profilePic:hover{
    box-shadow: 0 5px 15px #3d56b2;
}