@keyframes profile_box_fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.box_style{
    background-color: #A8B0CC;
    width: 12.5rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 12px;
    float: right;
    margin-top: -2.5rem;
    opacity: 0;

}

.profile_animation{
    animation-name: profile_box_fade;
    animation-duration: 1s;
    opacity: 1;
}

.user_box_img{
    width: 70px;
    height: 70px;
}
.closeBtn{
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
}

#passInput{
    margin-left: 10px;
}
#profile_box input{
    border-radius: 5px;
    color: #14279b;
    background-color: #e6e6e6;
}
#passInput, #emailInput{
    width: 8rem;
}

#emailInput{
    margin-left: 28px;
    margin-bottom: 2px;
}

.loginBtn{
    margin-top: 0.4rem;
    margin-left: 5rem;
    width: 3rem;
    cursor: pointer;
}

#profile_box p{
    text-align: center;
}

#profile_box a{
    text-decoration: none;
    color: #14279b;
}