.socials img{
    width: 35px;
    height: 35px;
    margin-right: 5rem;
    margin-top: 0.5rem;
    transition: 0.5s;
}
.socials img:hover{
    cursor: pointer;
    border-radius: 50%;
}
#twitter:hover{
    box-shadow: 0 5px 15px rgb(37, 150, 190);
}
#instagram:hover{
    border-radius: 25%;
    box-shadow: 0 5px 15px #ea0a29;
}
#facebook:hover{
    box-shadow: 0 5px 15px #058ef1;
}

.socials label{
    margin-right: 5rem;
    font-size: 18px;
}
.socials h2{
    float: left;
    color: #14279b;
    line-height: 5px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 26px;
    text-shadow: 0px 0.5px 15px #e6e6e6;
}
.copyRights{
    font-size: 17px;
}
.copyRights p{
    margin-left: 2rem;
    margin-top: 1.2rem;
    line-height: 2px;
}