html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#container{
    min-height: 100vh;
    position: relative;
    background-image: url('/public/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#content{
    padding: 1rem;
    padding-bottom: 10rem;
    color: #e6e6e6;
}

.footer-container{
    position: absolute;
    width: 100%;
    height: 9rem;
    bottom: 0;
    text-align: center;
    background-image: linear-gradient(to top right, rgba(0,0,26,255), rgba(1,137,199,255));
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25), -2px -2px 2px rgba(0, 0, 0, 0.25);
}