.nav_links{
    margin-left: -10%;
    list-style: none;
    display: flex;
}
.nav_links a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links li{
    padding: 0px 20px;
}

.nav_links li a {
    transition: color 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #3d56b2;
    border-bottom: 3px solid #3d56b2;
}